<div class="index">
<h1>ブログ一覧画面</h1>
<p><h2><%= notice%></h2></p>
<table class ="index_table">
    <tr>
        <th>ブログ内容</th>
    </tr>

    <% @blog.each do |blog| %>
    <tr>
        <td><%=blog.content%></td>
        <td class="btn btn-success"><%= link_to "編集する",edit_blog_path(blog.id) %></td>
        <td class="btn btn-warning"><%= link_to "削除する",blog_path(blog.id),method: :delete%></td>
    </tr>
    <%end%>
</table>
</div>
