<div class="container-fluid">
  <div class="top">
      <p>Bootstrap_Series challenges</p>
        <div class="contents">
          <div class="row">
            <div class="col-md-6">
            <ul class = row1>
                <li class ="col-xs-12 col-md-6">Bootstrap_Series challengesとは？
                  <ul>
                    <li>ブログの投稿、閲覧などができるアプリである</li>
                  </ul>
                </li>
            </ul>
            </div>
            <div class="col-md-6">
            <ul class ="row2">
              <li class ="col-xs-12 col-md-6">使用方法
                <ul>
                  <li>ヘッダーのリンクから各ページへ遷移する</li>
                  <li>一覧からはブログ一覧画面へ遷移。投稿の閲覧と投稿に対する編集、削除が可能</li>
                  <li>投稿からはブログ投稿画面へ遷移。1〜140文字以内のブログが投稿できる(空入力禁止)</li>
                </ul>
              </li>
            </ul>
            </div>
          </div>
        </div>
  </div>
</div>
