<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="users_show_bak">
  <div class ="users_show">
    <h1><%=@user.name%>さんのお気に入り一覧</h1>
    <% @favorites_blogs.each do |favorites_blogs| %>
      <h2><%=favorites_blogs.content%></h2>
    <%end%>
    <h2><%= link_to "ブログ一覧画面へ",blogs_path %></h2>
  </div>
</div>
